<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="WCFServiceContract2.DataService2">
                <endpoint address="http://localhost:10008/RSI-WCF2" binding="basicHttpBinding"
                    bindingConfiguration="" name="host2" contract="WCFServiceContract2.IData2" />
            </service>
        </services>
    </system.serviceModel>
</configuration>