<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:10007/RSI-WCF" binding="basicHttpBinding"
                bindingConfiguration="" contract="WCFServiceContract.IData"
                name="host1" kind="" endpointConfiguration="" />
            <endpoint address="http://localhost:10008/RSI-WCF2" binding="basicHttpBinding"
                bindingConfiguration="" contract="WCFServiceContract2.IData2"
                name="host2" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>